body {
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 50px;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title-art {
    width: 50vw;
    /* Full width of the viewport */
    margin: 0 auto;
    /* Centers the section */
    text-align: center;
    /* Centers the image if it's smaller */
}

.title-art img {
    width: 100%;
    /* Ensures the image stretches across the screen */
    height: auto;
    /* Maintains aspect ratio */
    display: block;
    /* Removes any extra spacing */
}

#registration-form {
    display: none;
}

.header_text {
    font-size: 3rem;
}

.countdown_header {
    font-family: 'Courier New', monospace;
    padding-top: 5%;
    font-size: 1.2rem;
}

.countdown-container {
    margin-bottom: 5%;
    padding: 0%;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Courier New', monospace;
    font-size: 2rem;
}

.countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digit-box {
    display: flex;
    gap: 5px;
}

.digit {
    width: 40px;
    height: 60px;
    background-color: black;
    color: rgb(49, 128, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 5px;
}

.label {
    margin-top: 5px;
    font-size: 1rem;
}

.art-banner {
    width: 80vw;
    /* Full width of the viewport */
    margin: 0 auto;
    /* Centers the section */
    text-align: center;
    /* Centers the image if it's smaller */
}

.art-banner img {
    width: 100%;
    /* Ensures the image stretches across the screen */
    height: auto;
    /* Maintains aspect ratio */
    display: block;
    /* Removes any extra spacing */
}


@media (max-width: 768px) {

    .title-art {
        width: 80vw;
        /* Full width of the viewport */
        margin: 0 auto;
        /* Centers the section */
        text-align: center;
        /* Centers the image if it's smaller */
    }

    /* For screens smaller than 768px (mobile & tablets) */
    .container {
        padding-top: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .countdown_header {
        margin-bottom: 30px;
        font-size: 1rem;
        /* Make the header text smaller */
    }

    .countdown-container {
        margin-bottom: 10px;
        font-size: 1.5rem;
        /* Reduce countdown font size */
        gap: 5px;
        /* Reduce spacing between numbers */
    }

    .digit {
        width: 30px;
        /* Reduce number box size */
        height: 50px;
        font-size: 2rem;
        /* Reduce font size inside numbers */
    }

    .label {
        font-size: 0.8rem;
        /* Make labels (Days, Hours, etc.) smaller */
    }

    .art-banner {
        margin-top: 20px;
        margin-bottom: 50px;
    }


}